* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

html {
    font-size: 10px;
    overflow-x: hidden;
}

.nav-item {
    font-size: 2rem;
    padding: .4rem 2rem;  
    border: 1px solid #646d7c;
    margin: 0 1rem !important;
}

.nav-item:hover {
    background-color: #646d7c;
    transition: all .5s;
}

.active {
    background-color: #49505F;
}
.nav-link{
    color: #fff !important;
    text-transform: capitalize;
}

.navbar {
    background-color: #383E4C !important;
    padding: 1.5rem;
}

.navbar-nav {
    margin: 0 auto;
}

header {
    width: 100vw;
    height: 59vh;
    background: url(/img/bg-1.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    position: relative;
}

.heading {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    text-align: center;
}

.hero-text {
    color: #fff;
    font-size: 7rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px #000000;
}

.sub-hero-text {
    color: #fff;
    font-size: 2.6rem;
}

#about {
    margin-top: 7rem;
}

/* About Section */

.card-body {
    background: #f2f2f2;
    padding: 0;
}

.card-body img {
    width: 100%;
}

.card-title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.card-text {
    font-size: 1.4rem;
}

.card-text-container {
    padding: 2rem;
    text-align: left;
    background-color: #f2f2f2;
}

.card-body button {
    font-size: 1.8rem;
    padding: .5rem 2.5rem;
    border-radius: .5rem;
    margin-top: 2rem;
    margin-left: 22%;
}

.big-card-body {
    background-color: #f2f2f2;
    margin-top: 6rem;
}

.big-card-body img {
    width: 100%;
}

.big-card-text {
    padding: 2rem;
    text-align: left;
    font-size: 1.4rem;
}

.big-card-title {
    font-weight: 800;
    text-align: center;
    color: #666666;
}

.services {
    height: 35vh;
    background-image: url(/img/bg-2.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 6rem;
}

.service-title {
    color: #fff;
    font-size: 4rem;
    font-weight: 400;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px #ffffff;
    margin-top: 8rem;
}

.service-p {
    color: #fff;
    font-size: 2rem;
    margin-top: 2rem;
}

.small-card-body {
    margin-top: 15rem;
    background-color: #f2f2f2;
}

.small-card-body img {
    width: 100%;
}

.small-card-title {
    margin-top: 2rem;
    font-weight: 800;
    color: #666666;
}
.small-card-text {
    font-size: 1.4rem;
    margin-top: 1rem;
}

.mega-card-title {
    font-size: 2rem;
    color: #666666;
    margin-top: 2rem;
    margin-bottom: .5rem;
    margin-left: 2rem;
}

.mega-link {
    margin-left: 2rem;
    font-size: 1.6rem;
    border: 1px solid #49505F;
    padding: 1rem 3rem;
    border-radius: 1.2rem;
    color: #666666;
    margin-bottom: 3rem;
}